body {
    background-image: url('/../assets/Tiles/background_tile.png');
    margin: 0;
    padding: 0;
}

canvas {
    margin: auto;
    background-image: linear-gradient(
    rgba(60, 60, 60, 0.5),
    rgba(20, 20, 20, 0.5)
    );
}
