html {
    height: 100%;
}

body {
    background-image:
      linear-gradient(rgba(20, 20, 20, 0.1), rgba(20, 20, 20, 0.7)),
      url('/../assets/Tiles/background_tile.png');
    background-size: auto;
    background-repeat: repeat;
}

canvas {
    margin: auto;
}
